---
title: test
layout: default
---

<div class="container">
    <div class="text-center py-7">
        <h1 class="display-4">
            <span class="text_gradient">The Better Slots</span>
        </h1>
        <p class="lead">
            We review Online Casinos so you don't have to!
        </p>
    </div>
    <div class="text-left">
        {% for casino in site.casinos %}
        <div class="card text-dark">
            <div class="d-flex flex-row align-items-center">
                <div class="p-3">
                    <img src="{{ casino.Logo | relative_url }}" alt="HappyHour.io Logo" />
                </div>
                <div class="p-3">
                    <h4>
                        <span class="text_gradient">
                            {{ casino.SiteName }}
                        </span>
                    </h4>
                    <div>
                        {{ casino.content }}
                    </div>
                    <div>
                        {% for topFeature in casino.TopFeatures %}
                        <span class="btn btn-info py-0 px-2" style="font-size: 0.9em;">{{ topFeature }}</span>
                        {% endfor %}                        
                    </div>
                </div>
                <div class="p-3">
                    <h4>
                        <span class="text-warning">
                            {{casino.Rating}}%
                        </span>
                    </h4>
                </div>
                <div class="p-3">
                    <a href="{{casino.AffiliateLink}}" class="btn btn-outline-primary text-nowrap" rel="noopener"
                        target="_blank">
                        Visit Casino
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>